Repository ericcornelissen/shescape, pull requests merged in 2022-10, with the labels that each got.

#440 Use `--user` option in Docker commands
  CONTRIBUTING.md
  script/run-compatibility-tests.js
Labels: test, meta

#443 Remove dependency on `dawidd6/action-get-tag`
  .github/workflows/release.yml
Labels: dependencies, ci/cd

#438 Only fuzz when escaping may have changed
  .github/workflows/checks-unix.yml
  .github/workflows/checks-windows.yml
  .github/workflows/checks.yml
  .github/workflows/nightly.yml
  .github/workflows/reusable-fuzz.yml
Labels: ci/cd

#441 Update manual release guidelines
  RELEASE.md
Labels: meta

#439 General minor changes
  .depcheckrc.json
  .depcheckrc.yml
  .editorconfig
  .eslintrc.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/reusable-fuzz.yml
  .gitignore
  .npmignore
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  SECURITY.md
  docs/recipes.md
  package.json
  rollup.config.js
  script/validate-codecov-config.sh
Labels: meta

#446 Use incremental mode for mutation testing in CI
  .github/workflows/checks.yml
  stryker.config.json
Labels: ci/cd

#448 Fix Codecov "unit" flag
  .github/codecov.yml
Labels: ci/cd

#450 Update the Contributing Guidelines
  .github/workflows/checks.yml
  CONTRIBUTING.md
  package.json
  script/run-compatibility-tests.js
Labels: meta

#451 Reduce duplication of integration tests
  CONTRIBUTING.md
  package.json
  test/_macros.js
  test/fixtures/unix.js
  test/fixtures/win.js
  test/integration/_.js
  test/integration/_macros.js
  test/integration/cjs/_.cjs
  test/integration/cjs/escape-all.test.cjs
  test/integration/cjs/escape.test.cjs
  test/integration/cjs/quote-all.test.cjs
  test/integration/cjs/quote.test.cjs
  test/integration/escape-all.test.js
  test/integration/escape.test.js
  test/integration/esm/escape-all.test.js
  test/integration/esm/escape.test.js
  test/integration/esm/quote-all.test.js
  test/integration/esm/quote.test.js
  test/integration/quote-all.test.js
  test/integration/quote.test.js
  test/unit/main/_macros.js
  test/unit/unix/_.js
  test/unit/win/_.js
Labels: test

#453 Add npm scripts for auditing dependencies for vulnerabilities
  .github/workflows/reusable-audit.yml
  CONTRIBUTING.md
  package.json
Labels: meta

#457 Refactor replacements
  CHANGELOG.md
  src/unix.js
  src/win.js
Labels: performance, refactor

#458 Update Windows escaping for the exact character sequence `\n\r`
  CHANGELOG.md
  src/win.js
  test/fixtures/win.js
  test/fuzz/_common.cjs
Labels: enhancement, test

#456 Escape control characters
  .eslintrc.yml
  CHANGELOG.md
  src/unix.js
  src/win.js
  test/fixtures/unix.js
  test/fixtures/win.js
  test/fuzz/_common.cjs
  test/fuzz/exec-file.test.cjs
  test/fuzz/spawn.test.cjs
  test/unit/_macros.js
Labels: enhancement, test

#461 Update test fixtures for whitespace
  package.json
  test/fixtures/unix.js
  test/fixtures/win.js
Labels: test

#471 Investigate Unix fuzz crashes
  .github/workflows/checks-unix.yml
  test/fuzz/_common.cjs
  test/fuzz/corpus/1b7c1880e064c6dbf88d7c5db4124a0722a324c981389cbe1d1cb0a54fc163f5
Labels: test, ci/cd

#463 Address PowerShell-related fuzz crashes
  .github/workflows/checks-windows.yml
  test/fuzz/_common.cjs
  test/fuzz/corpus/2099930321570f0517d3b7945c0506a9ec7b8dd588f5c9ff7e04ed1c53360ba5
Labels: test, ci/cd

#478 Address Windows-shell fuzz crashes
  test/fuzz/_common.cjs
  test/fuzz/corpus/4af90140481b33049493d421f1e6f9a3a0c629cbda426ba7106809330595a7c9
  test/fuzz/corpus/9729c65ce839200b4449208a67e60b40e723805cb9bc528ccdb44c3ae53b0966
Labels: test

#479 Explicitly call out breaking changes in v1.0.0
  CHANGELOG.md
Labels: meta

#489 Align development versions of runtime deps with version ranges
  package-lock.json
Labels: dependencies

#491 updated CI fuzz tests to not use set-output
  .github/workflows/reusable-fuzz.yml
Labels: ci/cd

#495 Set up auditing of latest released version
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/reusable-audit.yml
Labels: ci/cd

#497 Create script to check runtime dependency versions
  .github/workflows/checks.yml
  script/check-runtime-deps.js
Labels: meta, ci/cd

#504 General changes
  .github/workflows/release.yml
  SECURITY.md
  test/fixtures/unix.js
Labels: meta, ci/cd

#505 Use `licensee` for license scanning
  .github/workflows/checks.yml
  .licensee.json
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: dependencies, meta, ci/cd
