Repository ericcornelissen/shescape, pull requests merged in 2023-06, with the labels that each got.

#915 Run compatibility test on lowest supported version
  .github/workflows/checks.yml
  package.json
Labels: test, ci/cd

#919 Refactor out the platform facades
  bench/bench.js
  bench/unix.js
  bench/win.js
  src/main.js
  src/platforms.js
  src/unix.js
  src/win.js
  test/unit/main/escape.test.js
  test/unit/platforms/get-helpers.test.js
  test/unit/unix/facade.test.js
  test/unit/unix/shells.test.js
  test/unit/win/facade.test.js
  test/unit/win/shells.test.js
Labels: test, benchmark, refactor

#926 Simplify getting the shell path's basename for every platform
  src/unix/index.js
  src/win/index.js
Labels: refactor

#929 Internally unexport shell names
  src/unix/index.js
  src/win/index.js
Labels: refactor

#932 Fix Unix and Windows CI triggers
  .github/workflows/checks-unix.yml
  .github/workflows/checks-windows.yml
Labels: ci/cd

#934 Update transitive (dev)dependencies
  package-lock.json
Labels: dependencies

#936 Add docs about `options` to the API docs
  docs/api.md
Labels: documentation

#908 Support for flags & options protection
  CHANGELOG.md
  docs/api.md
  docs/tips.md
  index.d.ts
  index.js
  src/main.js
  src/unix/bash.js
  src/unix/csh.js
  src/unix/dash.js
  src/unix/index.js
  src/unix/zsh.js
  src/win/cmd.js
  src/win/index.js
  src/win/powershell.js
  test/_arbitraries.js
  test/fixtures/unix.js
  test/fixtures/win.js
  test/integration/_macros.js
  test/integration/escape-all.test.js
  test/integration/escape.test.js
  test/unit/_macros.js
  test/unit/main/escape.test.js
  test/unit/main/quote.test.js
  test/unit/unix/_.js
  test/unit/unix/_expressions.js
  test/unit/unix/index.test.js
  test/unit/unix/shells.test.js
  test/unit/win/_.js
  test/unit/win/_expressions.js
  test/unit/win/index.test.js
  test/unit/win/shells.test.js
Labels: documentation, enhancement, test

#944 Re-order functions in platform-specific modules
  src/unix/bash.js
  src/unix/csh.js
  src/unix/dash.js
  src/unix/zsh.js
  src/win/cmd.js
  src/win/powershell.js
Labels: refactor

#943 Drop the barrel files and move back to `src/{unix,win}.js`
  .github/workflows/checks-unix.yml
  .github/workflows/checks-windows.yml
  bench/bench.js
  bench/unix.js
  bench/win.js
  src/platforms.js
  src/unix.js
  src/win.js
  test/unit/platforms/get-helpers.test.js
  test/unit/unix/index.test.js
  test/unit/win/index.test.js
Labels: test, benchmark, ci/cd, refactor

#948 Move `checkedToString` to the reflection module
  src/main.js
  src/reflection.js
  testing.js
Labels: refactor

#949 Reward providing arguments as strings
  src/main.js
  src/reflection.js
  test/_constants.cjs
  test/unit/main/escape.test.js
  test/unit/main/quote.test.js
Labels: test, performance

#952 Replace homegrown tooling updates by dedicated action
  .github/workflows/nightly.yml
Labels: dependencies, ci/cd

#955 Remove tool matrix for nightly tooling updates job
  .github/workflows/nightly.yml
Labels: ci/cd

#957 Fix flaky PowerShell unit test
  test/unit/win/_expressions.js
Labels: test

#965 Re-introduce explicit import for `TextEncoder`
  src/unix/csh.js
Labels: refactor

#961 Add unit tests covering reflection functionality directly
  test/unit/reflection/_.js
  test/unit/reflection/checked-to-string.test.js
  test/unit/reflection/is-string.test.js
  test/unit/reflection/to-array-if-necessary.test.js
Labels: test

#964 Clean up the list of externals in Rollup configuration
  rollup.config.js
Labels: meta

#969 Correction to the documentation for quoting functions
  CHANGELOG.md
  index.d.ts
  index.js
Labels: documentation

#970 Update the `shescape/testing` unit test suite
  test/unit/testing/injection-strings.test.js
  test/unit/testing/stubscape.test.js
Labels: test

#973 Mutation test the integration tests
  .eslintrc.yml
  .github/workflows/checks.yml
  CONTRIBUTING.md
  package.json
  stryker.integration.config.js
  stryker.unit.config.js
Labels: test, meta, ci/cd

#979 Quality of life improvements to tests
  test/_macros.js
  test/fuzz/_common.cjs
  test/integration/_generators.js
  test/unit/_macros.js
  test/unit/platforms/get-helpers.test.js
  test/unit/testing/stubscape.test.js
  test/unit/unix/csh.test.js
  test/unit/unix/shells.test.js
  test/unit/win/shells.test.js
Labels: test

#982 Test coverage for environment variables
  CHANGELOG.md
  src/win/cmd.js
  test/fixtures/win.js
  test/fuzz/_common.cjs
  testing.js
Labels: bug, test

#984 Update escaping for PowerShell with `{interpolation:false}`
  CHANGELOG.md
  src/win/powershell.js
  test/fixtures/win.js
Labels: bug, test

#983 Use single quotes when quoting for PowerShell
  CHANGELOG.md
  src/win/powershell.js
  test/fixtures/win.js
Labels: enhancement, test

#989 Add new vulnerability to the Security Policy Advisories
  SECURITY.md
Labels: security

#992 Move CI auditing into separate workflow
  .github/workflows/audit.yml
  .github/workflows/checks.yml
Labels: ci/cd

#986 Update quoting for CMD
  CHANGELOG.md
  src/win/cmd.js
  test/fixtures/win.js
  test/fuzz/_common.cjs
  test/integration/quote.test.js
  test/unit/_macros.js
  test/unit/unix/shells.test.js
  test/unit/win/shells.test.js
Labels: bug, test

#991 Use tap-runner for mutation testing
  .depcheckrc.yml
  .github/workflows/checks.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  stryker.integration.config.js
  stryker.unit.config.js
Labels: dependencies, ci/cd

#993 Reduce integration tests coverage of transpiled library
  test/integration/escape-all.test.js
  test/integration/escape.test.js
  test/integration/quote-all.test.js
  test/integration/quote.test.js
Labels: test

#994 Don't unnecessarily use string literals
  src/unix/bash.js
  src/unix/csh.js
  src/unix/dash.js
  src/unix/zsh.js
  test/e2e/_macros.js
  test/fuzz/_common.cjs
  test/unit/win/index.test.js
Labels: refactor

#997 Add and use better-npm-audit
  .npmrc
  .nsprc
  package-lock.json
  package.json
Labels: dependencies, meta

#996 Use flag fixtures in unit tests
  test/unit/_macros.js
  test/unit/unix/_.js
  test/unit/unix/_expressions.js
  test/unit/unix/shells.test.js
  test/unit/win/_.js
  test/unit/win/_expressions.js
  test/unit/win/shells.test.js
Labels: test

#976 Add new tip: using environment variables
  docs/tips.md
Labels: documentation

#1000 Move Semgrep into separate workflow
  .github/workflows/checks.yml
  .github/workflows/semgrep.yml
Labels: ci/cd

#998 Fix incorrect escaping of quotes for CMD when quoting
  CHANGELOG.md
  src/win/cmd.js
  test/fixtures/win.js
  test/fuzz/_common.cjs
  test/fuzz/corpus/975ff4891d7856a9334c7b12414e887d738fc0c5b843bf183495a4c847c3098b
Labels: test

#1001 Split config workflow into multiple workflows
  .github/workflows/config-codecov.yml
  .github/workflows/config-npm.yml
Labels: ci/cd

#1005 Resolve CVE-2023-26115
  .nsprc
  package-lock.json
Labels: dependencies, security

#1006 Update labeler configuration
  .github/labeler.yml
Labels: meta, ci/cd

#1004 Upgrade `jsfuzz`
  .depcheckrc.yml
  .github/workflows/checks-unix.yml
  .github/workflows/checks-windows.yml
  .github/workflows/checks.yml
  .github/workflows/config-npm.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/reusable-audit.yml
  .github/workflows/reusable-fuzz.yml
  .npmrc
  package-lock.json
  package.json
  script/fuzz.js
Labels: dependencies, ci/cd

#1007 Update expected exit code when fuzzing in CI
  .github/workflows/reusable-fuzz.yml
Labels: ci/cd

#1009 Revert to using `timeout` instead of `--fuzzTime` for fuzzing in CI
  .github/workflows/reusable-fuzz.yml
Labels: ci/cd

#1013 List environment variable access protection as a library feature
  README.md
Labels: documentation

#1010 Normalize test fixtures
  test/fixtures/unix.js
  test/fixtures/win.js
Labels: test
