Repository ericcornelissen/shescape, pull requests merged in 2025-05, with the labels that each got.

#1968 Add support for Node.js v24
  .github/workflows/checks.yml
  CHANGELOG.md
  package-lock.json
  package.json
Labels: enhancement, dependencies, ci/cd

#1974 Add note about DEP0190 to the documentation
  docs/api.md
  docs/recipes.md
Labels: documentation

#1971 Bump the Node.js version used for development to 24
  .nvmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: dependencies, meta
